* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.contVideo {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

@media (max-width:800px) {
    .contVideo {
        height: 100vh;
    }
    .pimg1 video {
    display: flex;
    justify-content: center;
    align-items: center;

    DELETE height from above to work
    }
}

.ptext {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    align-content: center;
}

@media screen and (max-width: 800px) {
    .ptext {
        font-size: 1.5em;
        top: 15%;
        left: 50%;
    }
}

.pimg1 {
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pimg1 video {
    position: fixed;
    width:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator {
    display: block;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(90% - 24px);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: rgba(255, 255, 255);
}

.indicator2 {
    display: block;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(90% - 70px);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: rgba(255, 255, 255);
}

.mouse {
    border: 6px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 35px;
    -webkit-backface-visibility: hidden;
    transform: translate(-50%, -50%);
}

.mouse:after {
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -7px;
    width: 15px;
    height: 15px;
    opacity: 1;
    animation: scroll 2s -1s cubic-bezier(.68, -.55, .265, 1.55) infinite;
}

@keyframes scroll {
    from {
        top: 10px;
    }

    to {
        top: 0px;
    }
}

.wrappers {
    padding-top: 50px;
}

.container {
    position: relative;
    background-color: #fff;
}

.wrapper1 {
    margin: 0 auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text {
    margin: 20px;
    font-weight: 300;
    font-size: 2em;
    font-family: 'Manrope', sans-serif;
}

@media screen and (max-width: 800px) {
    .text {
        font-size: 1em;
    }
}

#third_ar {
    padding-left: 40px;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.content #map_im {
    height: 100%;
    width: 100%;
}

.ref {
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    animation: shadow-pulse 2s infinite;
    
}

@keyframes shadow-pulse {
    0% {
        -webkit-box-shadow: 0px 0px 0px 20px rgba(240, 240, 240, 0.479);        
        transform: scale(1);
    }


    100% {
        -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);       
        transform: scale(1);
    }
}

.tooltip .reftext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.80rem;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .reftext {
    visibility: visible;
}

@media screen and (max-width: 800px) {
    .ref {
        height: 1rem;
        width: 1rem;
    }

    .tooltip .reftext {
        font-size: 0.5rem;
    }
}

figure {
    float: right;
    text-align: center;
    text-indent: 0;
    padding: 0.5em;
    color: rgb(194, 194, 194);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 1rem;
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.video.active {
    visibility: visible;
    opacity: 1;
}

.video video {
    position: relative;
    max-width: 900px;
    outline: none;
}

@media (max-width:991px) {
    .video video {
        max-width: 90%;
    }
}

.close {
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
}

.tooltip-1 {
    left: 73.3%;
    top: 22.5%;
    position: absolute;
}

@media screen and (max-width: 700px) {
    .tooltip-1 {
        left: 73%;
        top: 22%;
    }
}

.tooltip-3 {
    left: 70%;
    top: 42.5%;
    position: absolute;
}

@media screen and (max-width: 700px) {
    .tooltip-3 {
        left: 69.5%;
        top: 41.5%;
    }
}

.tooltip-2 {
    left: 72.5%;
    top: 51.5%;
    position: absolute;
}

@media (max-width:991px) {
    .tooltip-2 {
        left: 72%;
        top: 51%;
    }

}

.tooltipAR {
    left: 70.5%;
    top: 55.2%;
    position: absolute;
}

@media (max-width:991px) {
    .tooltipAR {
        left: 69.5%;
        top: 54.2%;
    }

}

@media (max-width:500px) {
    .tooltipAR {
        left: 68%;
        top: 52%;
    }

}

.refAR {
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgba(219, 219, 219, 0);
    border-radius: 50%;
    display: inline-block;
    animation: shadow-pulse 2s infinite;
}


.ARdiv {
    height: auto;
    padding-bottom: 50px;
}

.ARdiv2 {
    max-width: 900px;
}

@media screen and (max-width: 700px) {
    .download {
        width: 120px;
    }
}

footer {
    height: 150px;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
}

footer p {
    padding-top: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.90rem;
}

@media screen and (max-width: 800px) {
    footer p {
        font-size: 0.70em;
    }
}